<div class="u-basket d-inline-block g-z-index-3">
    <div class="g-py-10 g-px-6">
        <a href="#!" id="basket-bar-invoker" class="u-icon-v1 g-color-black g-color-primary--hover g-font-size-17 g-text-underline--none--hover"
           aria-controls="basket-bar"
           aria-haspopup="true"
           aria-expanded="false"
           data-dropdown-target="#basket-bar"
           data-dropdown-type="css-animation"
           data-dropdown-duration="300"
           data-dropdown-hide-on-scroll="false"
           data-dropdown-animation-in="fadeIn"
           data-dropdown-animation-out="fadeOut">
            <span class="u-badge-v1--sm g-color-white g-bg-primary g-font-size-11 g-line-height-1_4 g-rounded-50x g-pa-4" id="numberQuantity" style="top: 6px !important; right: 4px !important;"></span>
            <i class="icon-hotel-restaurant-105 u-line-icon-pro"></i>
        </a>
    </div>
    <div id="basket-bar" class="u-basket__bar u-dropdown--css-animation u-dropdown--hidden g-text-transform-none g-bg-white g-brd-around g-brd-gray-light-v4"
         aria-labelledby="basket-bar-invoker">
        <div class="g-brd-bottom g-brd-gray-light-v4 g-pa-15 g-mb-10">
            <span class="d-block h6 text-center text-uppercase mb-0">Shopping Cart</span>
        </div>
        
        <div class="clearfix g-px-15">
            <div class="row align-items-center text-center g-brd-y g-brd-gray-light-v4 g-font-size-default">
                <div class="col g-brd-right g-brd-gray-light-v4">
                    <strong class="d-block g-py-10 text-uppercase g-color-main g-font-weight-500 g-py-10">Total</strong>
                </div>
                <div class="col">
                    <strong class="d-block g-py-10 g-color-main g-font-weight-500 g-py-10" id="totalPrice"></strong>
                </div>
            </div>
        </div>
        <div class="g-pa-20">
            <div class="text-center g-mb-15">
                <a class="text-uppercase g-color-primary g-color-main--hover g-font-weight-400 g-font-size-13 g-text-underline--none--hover" href="page-checkout-1.html">
                    View Cart
                    <i class="ml-2 icon-finance-100 u-line-icon-pro"></i>
                </a>
            </div>
            <a class="btn btn-block u-btn-black g-brd-primary--hover g-bg-primary--hover g-font-size-12 text-uppercase rounded g-py-10" href="page-checkout-1.html">Proceed to Checkout</a>
        </div>
    </div>
</div>