@inject System.Security.Claims.IClaimPrincipalManager claimManager

@if (claimManager.IsAuthenticated)
{
    <!-- Account -->
    <li class="list-inline-item">
        <a id="account-dropdown-invoker-2" class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="#"
           aria-controls="account-dropdown-2"
           aria-haspopup="true"
           aria-expanded="false"
           data-dropdown-target="#account-dropdown-2"
           data-dropdown-type="css-animation"
           data-dropdown-duration="300"
           data-dropdown-hide-on-scroll="false"
           data-dropdown-animation-in="fadeIn"
           data-dropdown-animation-out="fadeOut">
            Hi, @claimManager.GivenName
        </a>
        <ul id="account-dropdown-2" class="list-unstyled u-shadow-v29 g-pos-abs g-bg-white g-width-160 g-pb-5 g-mt-19 g-z-index-2"
            aria-labelledby="account-dropdown-invoker-2">
@*            <li>*@
@*                    <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20" href="#">*@
@*                        Order List*@
@*                    </a>*@
@*                </li>*@
@*            <li>*@
@*                <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20" href="#">*@
@*                    Wishlist*@
@*                </a>*@
@*            </li>*@
            <li>
                <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20" href="#">
                    Account Settings
                </a>
            </li>
            <li>
                <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post" hidden></form>
                <a class="d-block g-color-text g-color-primary--hover g-text-underline--none--hover g-font-weight-400 g-py-5 g-px-20" href="javascript:document.getElementById('logoutForm').submit()">
                    Logout
                </a>
            </li>
        </ul>
    </li>
    <!-- End Account -->
}
else
{
    <li class="list-inline-item g-mx-4">
        <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="@Url.Action("Register", "Account")">Register</a>
    </li>
    <li class="list-inline-item g-color-gray-light-v3 g-mx-4">|</li>
    <li class="list-inline-item g-mx-4">
        <a class="g-color-text g-color-primary--hover g-font-weight-400 g-text-underline--none--hover" href="@Url.Action("Login", "Account")">Login</a>
    </li>
}