@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginViaFacebook</title>
</head>
<body>

        @if (!string.IsNullOrEmpty(Model))
        {
            <script type="text/javascript">
                alert("@Model");
            </script>
        }

</body>
</html>
