@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReturnAccessToken</title>
    <script type="text/javascript">
        window.localStorage.setItem("access_token", "@Model");
    </script>
</head>
<body>
<p>you are logging</p>
</body>
</html>
