
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login via FB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<a href="https://www.facebook.com/v2.11/dialog/oauth?&response_type=token&client_id=167241287210501&redirect_uri=http://localhost:58212/simple/GetAccessToken&scope=email">Login Via Facebook</a>
</body>
</html>
