<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top">
<div class="u-header__section u-header__section--admin-dark g-min-height-65">
<nav class="navbar no-gutters g-pa-0">
<div class="col-auto d-flex flex-nowrap u-header-logo-toggler g-py-12">
    <!-- Logo -->
    <a href="@Url.Action("Index", "Home", new {Area = "Manage"})" class="navbar-brand d-flex align-self-center g-hidden-xs-down g-line-height-1 py-0 g-mt-5">
        <img src="~/html/assets/img/logo/logo.jpg" style="height: 40px; width: 40px; border-radius: 50%;"/>
    </a>
    <!-- End Logo -->
    <!-- Sidebar Toggler -->
    <a class="js-side-nav u-header__nav-toggler d-flex align-self-center ml-auto" href="#!" data-hssm-class="u-side-nav--mini u-sidebar-navigation-v1--mini" data-hssm-body-class="u-side-nav-mini" data-hssm-is-close-all-except-this="true" data-hssm-target="#sideNav" >
        <i class="hs-admin-align-left"></i>
    </a>
    <!-- End Sidebar Toggler -->
</div>
<!-- End Top Search Bar -->
<!-- Messages/Notifications/Top Search Bar/Top User -->
<div class="col-auto d-flex g-py-12 g-pl-40--lg ml-auto">

<!-- Top User -->
@Html.Partial("_LoginPartial")
<!-- End Top User -->
</div>
<!-- End Messages/Notifications/Top Search Bar/Top User -->
<!-- Top Activity Toggler -->
<a id="activityInvoker" class="text-uppercase u-header-icon-v1 g-pos-rel g-width-40 g-height-40 rounded-circle g-font-size-20" href="#!" aria-controls="activityMenu" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#activityMenu"
   data-dropdown-type="css-animation" data-dropdown-animation-in="fadeInRight" data-dropdown-animation-out="fadeOutRight" data-dropdown-duration="300" style="visibility: hidden">
    <i class="hs-admin-align-right g-absolute-centered"></i>
</a>
<!-- End Top Activity Toggler -->
</nav>
</div>
</header>
<!-- End Header -->