@{
    var pageName = ViewContext.RouteData.Values["controller"].ToString();
    var viewName = ViewContext.RouteData.Values["action"].ToString();
    @inject System.Security.Claims.IClaimPrincipalManager claimManager
}

@if (claimManager.IsAuthenticated)
{
    <div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation--dark">
        <ul id="sideNavMenu" class="u-sidebar-navigation-v1-menu u-side-nav--top-level-menu g-min-height-100vh mb-0">
            <li class="u-sidebar-navigation-v1-menu-item u-side-nav--top-level-menu-item ">
                @if (claimManager.Role == "CustomerSupport")
                {
                    <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12 @(pageName.ToLower() == "setting" ? "active" : "")" href="@Url.Action("ListReview", "Support", new {area = "Manage"})">
                        <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                            <i class="hs-admin-check-box"></i>
                        </span>
                        <span class="media-body align-self-center">Review</span>
                    </a>
                }
            </li>
        </ul>
    </div>
}
