@{
    ViewData["Title"] = "Reset Password Success";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6" style="padding-bottom: 200px; padding-top: 100px">

        <div class="alert alert-dismissible fade show g-bg-teal g-color-white rounded-0" role="alert">
            <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>

            <div class="media">
                <span class="d-flex g-mr-10 g-mt-5">
                    <i class="icon-check g-font-size-25"></i>
                </span>
                <span class="media-body align-self-center" style="text-align: center">
                    <strong>Congratulation!</strong>. You successfully reset your password. Use it to login <a href="@Url.Action("Login", "Account")">here</a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>