@using OnovaStore.Models.Account
@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "_Layout";
}

<section class="container g-pt-100 g-pb-20">
    <div class="row">
        <div class="col-lg-6 order-lg-2 g-mb-80">
            <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-3">
                <header class="text-center mb-4">
                    <h1 class="h4 g-color-black g-font-weight-400">Create New Account</h1>
                </header>
                <!-- Form -->
                <form asp-controller="Account" asp-action="ResetPassword" method="post" class="g-py-15">
                    <div class="g-mb-20">
                        <input asp-for="Code" hidden required class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" placeholder="Code" />
                    </div>
                    <div class="g-mb-20">
                        <input asp-for="Id" hidden required class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" placeholder="Id" />
                    </div>
                    <div class="g-mb-20">
                        <input asp-for="Password" required class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" placeholder="Password"/>
                        <div class="form-group has-danger mb-0">
                            <span asp-validation-for="Password" class="form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="g-mb-20">
                        <input asp-for="ConfirmPassword" required class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" placeholder="Confirm password"/>
                        <div class="form-group has-danger mb-0">
                            <span asp-validation-for="ConfirmPassword" class="form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group has-danger mb-0">
                        <div asp-validation-summary="All" class="form-control-feedback"></div>
                    </div>
                    <div class="mb-4">
                        <button class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" type="submit">Reset password</button>
                    </div>
                </form>
                <!-- End Form -->
            </div>
        </div>
        <div class="col-lg-3 order-lg-1 g-mb-80"></div>
        <div class="col-lg-3 order-lg-3 g-mb-80"></div>
    </div>
</section>
