
@{
    Layout = "_Layout";
}

<div class="container g-pt-70 g-pb-30">
    <div class="row">
        <!-- Profile Settings -->
        <div class="col-lg-3 g-mb-50">
            <aside class="g-brd-around g-brd-gray-light-v4 rounded g-px-20 g-py-30">
                <!-- Profile Picture -->
                <div class="text-center g-pos-rel g-mb-30">
                    <div class="g-width-100 g-height-100 mx-auto mb-3">
                        <img class="img-fluid rounded-circle" src="assets/img-temp/100x100/img1.jpg" alt="Image Decor">
                    </div>

                    <span class="d-block g-font-weight-500">James Collins</span>

                    <span class="u-icon-v3 u-icon-size--xs g-color-white--hover g-bg-primary--hover rounded-circle g-pos-abs g-top-0 g-right-15 g-cursor-pointer" title="Change Profile Picture"
                          data-toggle="tooltip"
                          data-placement="top">
                        <i class="icon-finance-067 u-line-icon-pro"></i>
                    </span>
                </div>
                <!-- End Profile Picture -->

                <hr class="g-brd-gray-light-v4 g-my-30">

                <!-- Profile Settings List -->
                <ul class="list-unstyled mb-0">
                    <li class="g-py-3">
                        <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3" href="page-orders-1.html">
                            <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i class="icon-finance-114 u-line-icon-pro"></i></span>
                            Your Orders
                        </a>
                    </li>
                    <li class="g-py-3">
                        <a class="d-block align-middle active u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover g-color-primary--parent-active g-bg-gray-light-v5--active rounded g-pa-3" href="page-login-security-1.html">
                            <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i class="icon-finance-135 u-line-icon-pro"></i></span>
                            Change Password
                        </a>
                    </li>
                    <li class="g-pt-3">
                        <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3" href="page-notifications-1.html">
                            <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i class="icon-education-033 u-line-icon-pro"></i></span>
                            Notifications
                        </a>
                    </li>
                </ul>
                <!-- End Profile Settings List -->
            </aside>
        </div>
        <!-- End Profile Settings -->

        <!-- Login & Security -->
        <div class="col-lg-9 g-mb-50">
            <!-- Info -->
            <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">
                <div class="row">
                    <div class="col-8">
                        <span class="d-block g-color-text g-font-size-13 mb-1">Name:</span>
                        <span class="d-block">James</span>
                    </div>

                    <div class="col-4 text-right">
                        <a class="btn g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7" href="#!">Edit</a>
                    </div>
                </div>

                <hr class="g-brd-gray-light-v4 g-my-20">

                <div class="row">
                    <div class="col-8">
                        <span class="d-block g-color-text g-font-size-13 mb-1">Last Name:</span>
                        <span class="d-block">Collins</span>
                    </div>

                    <div class="col-4 text-right">
                        <a class="btn g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7" href="#!">Edit</a>
                    </div>
                </div>

                <hr class="g-brd-gray-light-v4 g-my-20">

                <div class="row">
                    <div class="col-8">
                        <span class="d-block g-color-text g-font-size-13 mb-1">Email:</span>
                        <span class="d-block">james@gmail.com</span>
                    </div>

                    <div class="col-4 text-right">
                        <a class="btn g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7" href="#!">Edit</a>
                    </div>
                </div>

                <hr class="g-brd-gray-light-v4 g-my-20">

                <div class="row">
                    <div class="col-8">
                        <span class="d-block g-color-text g-font-size-13 mb-1">Mobile Phone Number:</span>
                        <span class="d-block">+(01) 222 333 444</span>
                    </div>

                    <div class="col-4 text-right">
                        <a class="btn g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7" href="#!">Edit</a>
                    </div>
                </div>

                <hr class="g-brd-gray-light-v4 g-my-20">

                <div class="row">
                    <div class="col-8">
                        <span class="d-block g-color-text g-font-size-13 mb-1">Password:</span>
                        <span class="d-block">*******</span>
                    </div>

                    <div class="col-4 text-right">
                        <a class="btn g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7" href="#!">Edit</a>
                    </div>
                </div>

                <hr class="g-brd-gray-light-v4 g-my-20">

                <div class="row">
                    <div class="col-8">
                        <span class="d-block g-color-text g-font-size-13 mb-1">Advanced Security Settings:</span>
                        <span class="d-block">Manage how and when you receive security codes</span>
                    </div>

                    <div class="col-4 text-right">
                        <a class="btn g-brd-around g-brd-gray-light-v3 g-color-gray-dark-v3 g-bg-gray-light-v5 g-bg-gray-light-v4--hover g-font-size-13 rounded g-px-18 g-py-7" href="#!">Edit</a>
                    </div>
                </div>
            </div>
            <!-- End Info -->

            <button class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" type="submit">Update</button>
        </div>
        <!-- End Login & Security -->
    </div>
</div>